In [12]:
data07=pd.read_csv("TEDS-D-2007-DS0001-data-excel.tsv", sep='\t')
data08=pd.read_csv("TEDS-D-2008-DS0001-data-excel.tsv", sep='\t')
data09=pd.read_csv("TEDS-D-2009-DS0001-data-excel.tsv", sep='\t')
data10=pd.read_csv("TEDS-D-2010-DS0001-data-excel.tsv", sep='\t')
data11=pd.read_csv("TEDS-D-2011-DS0001-data-excel.tsv", sep='\t')
data12=pd.read_csv("TEDS-D-2012-DS0001-data-excel.csv")
data13=pd.read_csv("teds_d_2013.csv")

In [8]:
data_attempt_R = pd.read_csv("IPG2211N.csv")

In [9]:
data_attempt_R.head(50)

          DATE  IPG2211N
0   1972-01-01   35.9358
1   1972-02-01   36.1059
2   1972-03-01   35.0223
3   1972-04-01   33.8054
4   1972-05-01   33.4847
5   1972-06-01   36.4616
6   1972-07-01   39.1136
7   1972-08-01   41.3757
8   1972-09-01   40.1185
9   1972-10-01   37.0792
10  1972-11-01   36.9936
11  1972-12-01   38.3944
12  1973-01-01   40.6924
13  1973-02-01   39.7876
14  1973-03-01   37.8803
15  1973-04-01   36.2503
16  1973-05-01   36.4885
17  1973-06-01   40.8586
18  1973-07-01   44.3162
19  1973-08-01   45.8795
20  1973-09-01   44.3887
21  1973-10-01   40.5928
22  1973-11-01   39.4394
23  1973-12-01   38.8470
24  1974-01-01   40.0271
25  1974-02-01   39.6258
26  1974-03-01   38.2333
27  1974-04-01   36.8289
28  1974-05-01   37.5218
29  1974-06-01   40.3307
30  1974-07-01   44.9113
31  1974-08-01   46.1029
32  1974-09-01   43.2064
33  1974-10-01   40.3145
34  1974-11-01   39.7482
35  1974-12-01   41.9786
36  1975-01-01   43.3195
37  1975-02-01   42.4915
38  1975-03-01   40.8206
39  1975-04-01   39.2583
40  1975-05-01   38.9911
41  1975-06-01   42.4091
42  1975-07-01   46.2797
43  1975-08-01   48.1017
44  1975-09-01   45.0557
45  1975-10-01   41.0986
46  1975-11-01   40.7584
47  1975-12-01   44.0526
48  1976-01-01   47.5854
49  1976-02-01   44.7457

In [53]:
data07 = data07.head(10000)
data08 = data08.head(10000)
data09 = data09.head(10000)
data10 = data10.head(10000)
data11 = data11.head(10000)
data12 = data12.head(10000)
data13 = data13.head(10000)
frames=[data07,data08,data09,data10,data11,data12,data13]
data=pd.concat(frames)

In [19]:
data.to_string()

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [3]:
import pandas as pd
import sklearn
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.decomposition import PCA
import numpy as np

In [69]:
>>> from sklearn import tree
>>> X = 
>>> Y = 
>>> clf = tree.DecisionTreeClassifier()
>>> clf = clf.fit(X, Y)

In [20]:
data.replace(-9, np.NaN , inplace= True)

In [41]:
listed=set([])
#Create Marriage Dummy Variables
for elem in data['MARSTAT'].unique():
    data['Marriage' + str(elem)] = data['MARSTAT'] == elem
    listed.add('Marriage'+str(elem))
#Create Area Dummy Variables
for elem in data['STFIPS'].unique():
     data['STFIPS' + str(elem)] = data['STFIPS'] == elem
     listed.add('STFIPS'+str(elem))   
#Create PsyProb Dummy Variables
for elem in data['PSYPROB'].unique():
     data['PSYPROB' + str(elem)] = data['PSYPROB'] == elem
     listed.add('PSYPROB'+str(elem))           
#Create Ethnicity Dummy Variables
for elem in data['ETHNIC'].unique():
     data['ETHNIC' + str(elem)] = data['ETHNIC'] == elem
     listed.add('ETHNIC'+str(elem))                           
#Create Preg Dummy Variables
for elem in data['PREG'].unique():
     data['PREG' + str(elem)] = data['PREG'] == elem
     listed.add('PREG'+str(elem))   
#Create Priminc Dummy Variables
for elem in data['PRIMINC'].unique():
     data['PRIMINC' + str(elem)] = data['PRIMINC'] == elem
     listed.add('PRIMINC'+str(elem))   
#Create PSource Dummy Variables
for elem in data['PSOURCE'].unique():
     data['PSOURCE' + str(elem)] = data['PSOURCE'] == elem
     listed.add('PSOURCE'+str(elem))           
#Create Race Dummy Variables
for elem in data['RACE'].unique():
     data['RACE' + str(elem)] = data['RACE'] == elem
     listed.add('RACE'+str(elem))           
#Create Route1 Dummy Variables
for elem in data['ROUTE1'].unique():
     data['ROUTE1' + str(elem)] = data['ROUTE1'] == elem
     listed.add('ROUTE1'+str(elem))                   
#Create Sub1 Dummy Variables
for elem in data['SUB1'].unique():
     data['SUB1' + str(elem)] = data['SUB1'] == elem
     listed.add('SUB1'+str(elem))                     
#Create Vet Dummy Variables
for elem in data['VET'].unique():
     data['VET' + str(elem)] = data['VET'] == elem
     listed.add('VET'+str(elem))

In [42]:
data.replace(to_replace=True, value='1', inplace=True)
data.replace(to_replace=False, value='0', inplace=True)

In [43]:
frst_dict = {1:11, 2:13, 3:16, 4:19, 5:23, 6:27, 7:32, 8:37, 9:42, 10:47, 11:52, 12:55}
def frst_age(s):
    if s in frst_dict.keys():
        return frst_dict[s]
    
mar_dict={1:0, 2:1, 3:0, 4:0}
def mar_change(s):
    if s in mar_dict.keys():
        return mar_dict[s]
    
freq_use_dict = {1:0, 2:2, 3:6, 4:18, 5:30}
def freq_use(s):
    if s in freq_use_dict.keys():
        return freq_use_dict[s]

age_dict={2:13, 3:16, 4:19, 5:23, 6:27, 7:32, 8:37, 9:42, 10:47, 11:52, 12:55}
def group_age(s):
    if s in age_dict.keys():
        return age_dict[s]
    
gender_dict={1.0:0, 2.0:1}
def gender_change(s):
    if s in gender_dict.keys():
        return gender_dict[s]
    
los_dict = {31:37.5, 32:52.5, 33:75, 34:105, 35:150, 36:272.5, 37:4}
def los_change(s):
    if s in los_dict.keys():
        return gender_dict[s]

In [76]:
data['LOS']

0       34
1       31
2       34
3       31
4       34
5       15
6        8
7       31
8       33
9       33
10      32
11       4
12      31
13      32
14      29
15      36
16       1
17      14
18      35
19      29
20      11
21       5
22       3
23       4
24      33
25      36
26      27
27      30
28      31
29      31
        ..
9970    34
9971     8
9972    35
9973    36
9974    33
9975    33
9976     3
9977    36
9978    32
9979    36
9980    33
9981    34
9982    15
9983    32
9984    36
9985    31
9986    35
9987    37
9988    32
9989    30
9990    34
9991     2
9992    34
9993    37
9994    36
9995    34
9996     6
9997    36
9998    34
9999    33
Name: LOS, Length: 70000, dtype: int64

In [44]:
data['GENDER'] = data['GENDER'].map(gender_change)
data['AGE']= data['AGE'].map(group_age)
data['MARSTAT'] = data['MARSTAT'].map(mar_change)
data['FRSTUSE1'] = data['FRSTUSE1'].map(frst_age)
data['FREQ1'] = data['FREQ1'].map(freq_use)
data['LenOfUse'] = data['AGE'] - data['FRSTUSE1']

In [45]:
listed.add('AGE')
listed_columns = []
for i in listed:
    listed_columns.append(i)

In [46]:
for i in data.columns:
    num = i.find('nan')
    if num != -1:
        del data[i]

In [47]:
#remove, race ethnic, educ, employ, ?

In [48]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

In [55]:
Y= data['REASON']
X= data
del X['REASON']

In [54]:
data.replace(np.NaN, '-9' , inplace= True)

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state=23)

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification


clf = RandomForestClassifier()
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [75]:
clf.score(X_test, y_test)

0.50538095238095238