In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('data.csv')
data[:5]

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
#dummy code yes/nos and true/false
data['voice mail plan'] = data['voice mail plan'].replace('no', 0)
data['voice mail plan'] = data['voice mail plan'].replace('yes', 1)
data['international plan'] = data['international plan'].replace('no', 0)
data['international plan'] = data['international plan'].replace('yes', 1)
data.churn = data.churn.astype(int)

#define target and predictors
y = data['churn']
X = data.drop(['churn', 'phone number'], 1)

#dummy code state and area code
state_dum = pd.get_dummies(X['state'])
areacode_dum = pd.get_dummies(X['area code'])

#merge dummies with X df
X = pd.merge(X, state_dum, left_index=True, right_index=True).drop('state', 1)
X = pd.merge(X, areacode_dum, left_index=True, right_index=True).drop('area code', 1)

#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [5]:
print (X_train.shape, y_train.shape, X_test.shape, y_test.shape)

((2233, 71), (2233L,), (1100, 71), (1100L,))

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support
from time import time

log = LogisticRegression(random_state=1)
t1 = time()
log.fit(X_train, y_train)

log_time = time() - t1

y_pred = log.predict(X_test)

confusion_matrix(y_test, y_pred)

array([[905,  38],
       [124,  33]])

In [7]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
log_accuracy = (tn + tp) / (tn + fp + fn + tp)
print (log_accuracy, 'accuracy in', log_time, 'seconds')

(0, 'accuracy in', 0.9489998817443848, 'seconds')